# print

In [2]:
print("this is a test")#this is a commont

this is a test

In [ ]:
print("hello")
print("im Wendy")#the content inside of the double quote is the STRING

hello
im Wendy

---

# number

In [ ]:
1+1#this is an interger

2

In [4]:
1*3

3

In [ ]:
1/2#0.5 is a floating point/floating number

0.5

In [ ]:
2**4#**is power/exponent

16

In [ ]:
4%2#%0 is reminder

0

In [8]:
5%2

1

In [9]:
(2+3)*(5+5)

50

In [ ]:
2/1#interger divide by interger is always floating number

2.0

In [16]:
3*3+3/(3-2)

12.0

---

# variable

variable naming rules:
- case sensitive(wendy and Wendy is different)
- must start with a letter or underscore
- can contain letters, numbers and underscores

In [13]:
name_of_var = 2
print(name_of_var)

2

In [14]:
x=3
y=2
z=x+y
print(z)

5

In [15]:
x="Hello"
print(x)

Hello

In [20]:
x=5
y=10
Alex=x
x=y
y=Alex
print(x)
print(y)

10
5

string:is a combination of multiple characters or a long sentence within a double quote

# f-string

In [30]:
age=12
name="Alex"
print(f"my name is {name},and my age is {age}")

my name is Alex,and my age is 12

# comparison operators

In [31]:
1>2

False

In [32]:
1>=1

True

In [33]:
1==1

True

In [34]:
"hi"=="bye"

False

In [35]:
"hi"=="hi"

True

In [36]:
"hi"=="Hi"

False

# Logic operators

In [ ]:
(1>2)and(2<3)

False

In [38]:
(1>2)&(2<3)

False

In [39]:
(1>2)or(2<3)

True

In [40]:
(1>2)|(2<3)

True

In [41]:
(1==2)or(2==3)or(4==4)

True

# if statement

In [48]:
if 1>2:
    print("my name is alex")
    print("my age is 18")
print("this is outside of if")

this is outside of if

In [50]:
if 1>2:
   print("first")
else:
   print("last")

last

In [ ]:
age=30
if age>18:
    print("adult")
if age>25:
    print("old man")
if age>60:
    print("senior")#多个if不具有排他性

adult
old man

In [ ]:
age=30
if age>18:
    print("adult")
elif age>25:#elif=else if 几选一，要么要么，只选第一个满足条件的
    print("old man")
else:
    print("senior")

adult

In [54]:
age=30
if age>18:
    print("adult")
elif age>25:#elif=else if 几选一，要么要么，只选第一个满足条件的
    print("old man")
elif age>60:
    print("senior")

adult

In [ ]:
#with a given number,write a programme to determine positive or negative
number=-5
if number>0:
   print("positive")
else:
   print("negative")

negative

In [7]:
#with a given positive integer number,write a programme to determine odd or even
number=4
if number%2==0:
    print("even")
else:
    print("odd")

even

In [10]:
year=1994
if ((year%4==0) and (year%100!=0)) or (year%400==0):
    print("year is leap year")
else:
    print("year is not leap year")

year is not leap year

# for loop

In [12]:
for i in range(1,11):
    print(i)
    print(i)

1
1
2
2
3
3
4
4
5
5
6
6
7
7
8
8
9
9
10
10

In [14]:
for i in range(0,11,3):
    print(i)

0
3
6
9

In [15]:
for i in range(2,21,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [18]:
total=0
for i in range(1,101):
    total=total+i
print(total)

5050

In [8]:
a=5
for i in range (1,11):
    b=a*i
    print(f"{a} x {i} = {b}")

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

# List

In [9]:
[1,2,3]

[1, 2, 3]

In [10]:
mylist=[4,6,7]
print (mylist)

[4, 6, 7]

In [15]:
mylist=[4,5,6]
print(mylist[2])

6

In [17]:
mylist=['a',11,20]
print(mylist)

['a', 11, 20]

In [20]:
mylist=[10,20,[4,5]]
print(mylist)
print(mylist[2])
print(mylist[2][0])

[10, 20, [4, 5]]
[4, 5]
4

In [22]:
mylist=[1,2,3]
print(mylist)
mylist.append(666)
print(mylist)

[1, 2, 3]
[1, 2, 3, 666]

In [24]:
mylist=[3,4,5,6,7]
print(mylist[1:])
print(mylist[:1])

[4, 5, 6, 7]
[3]

In [26]:
mylist=[1,2,3]
print(mylist)
mylist[1]=10
print(mylist)

[1, 2, 3]
[1, 10, 3]

In [ ]:
mylist=[1,2,3,4]
mylist.remove(3)#remove是删除内容
print(mylist)

[1, 2, 4]

In [ ]:
mylist=[1,2,3,4]
mylist.pop(3)#pop是删除下标
print(mylist)

[1, 2, 3]

In [38]:
mylist=[7,8,9]
for i in mylist:
    print (i)

7
8
9